  .container {
     width: 100%;
     height: 100vh;
     background-color: #222222;
     border: solid 1px red;
     display: flex;
     justify-content: center;
   }

  .logo-mobile {
     position: absolute;
     width: 222px;
     height: 202px;
     margin-left: 10vw;
     margin-right: auto;
     margin-top: 10vh;
  }

  .bg {
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     background: url("img/bg.svg") no-repeat;
     background-size: cover;
     filter: blur(2px);
  }

  /*
  .container {
     position: relative;
     width: 100%;
     height: 100vh;
     background-color: #222222;
     border: solid 1px red;
   }

  .logo-mobile {
      position: absolute;
     width: 222px;
     height: 202px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 10vh;
  }

  .bg {
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     background: url("img/bg.svg") no-repeat;
     background-size: cover;
     filter: blur(2px);
  }

  */